<!-- {% load static %}
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=300px, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="{% static 'css/base.css/' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css/' %}">

    <title>MashMusic</title>
</head>


<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">MashMusic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto ml-5">
                <li class="nav-item">
                    <a class="nav-link sas" href="AudioService/">Playlists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registration.html">Sign-up</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="img-back">
        <p class="welcome1">Welcome on MashMusic</p>
        <p class="welcome2">We propose unlimited music for you.Listen anywhere.</p>
    </div>
    <div class="about">
        <div class="row no-gutters justify-content-md-center">
            <div class="col-lg-4">
                <p class="header-text">Enjoy music with MashMusic</p>
                <p class="body-text">Listen on different devices Desktop,laptop,smartphone and more</p>
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-4 img-block">
                <img src="images/group3.png" alt="pic" />
            </div>
        </div>
    </div>
    <div class="about">
        <div class="row no-gutters justify-content-md-center">
            <div class="col-lg-4">
                <p class="header-text">Enjoy music with MashMusic</p>
                <p class="body-text">Listen on different devices Desktop,laptop,smartphone and more</p>
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-4 img-block">
                <img src="images/group3.png" alt="pic" />
            </div>
        </div>
    </div>
    <div class="about">
        <div class="row no-gutters justify-content-md-center">
            <div class="col-lg-4">
                <p class="header-text">Enjoy music with MashMusic</p>
                <p class="body-text">Listen on different devices Desktop,laptop,smartphone and more</p>
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-4 img-block">
                <img src="images/group3.png" alt="pic" />
            </div>
        </div>
    </div>
</body>
<!-- {% include 'AudioService/footer.html' %} -->
<footer>
    <div class="container mt-5 pb-5">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-left mb-4 mt-5"><a href="#">Questions? Contact us.</a></div>

            <div class="col-md-4 col-sm-6 col-xs-12 text-left"><a href="#">FAQ</a> </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-left"><a href="#">Investor Relations</a> </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-left"><a href="#">Privacy</a> </div>

            <div class="col-md-4 col-sm-6 col-xs-12 text-left"><a href="#">Speed Test</a> </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-left"><a href="#">Help Center</a> </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-left"><a href="#">Corporate Information</a> </div>

            <div class="col-md-4 col-sm-6 col-xs-12 text-left"><a href="#">Contact Us</a> </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-left"><a href="#">Terms of Use</a> </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-left mb-5"><a href="#">Accoun</a> </div>
        </div>
    </div>
</footer>



</html>
